

<h2><CENTER>Informacion de Usuario</CENTER></h2>


<div class="infousuario">
<address>
  <strong>Nombre</strong><br>
  <%=current_usuario.nombre%><br>
   <strong>Apellido</strong><br>
  <%=current_usuario.apellido%><br>
    <strong>Fecha de nacimiento</strong><br>
  <%=current_usuario.fechanac%><br>
    <strong>Edad</strong><br>
  <%=current_usuario.age(current_usuario.fechanac)%> años<br>
    <strong>Nacionalidad</strong><br>
  <%=current_usuario.countryname%>
</address>
</div>


<div class="fotousuario">
<% if current_usuario.foto!=nil %>
  <% if current_usuario.foto.length!=0 %>
     <img src="<%=current_usuario.foto%>" alt="Sin foto de perfil" WIDTH=200 HEIGHT=200 class="img-rounded">
  <%else%>
     <%= image_tag "sinimagen.png",WIDTH:200, HEIGHT:200, class:"img-rounded" %>
  <%end%>
<%else%>
  <%= image_tag "sinimagen.png",WIDTH:200, HEIGHT:200, class:"img-rounded" %>
<%end%>
</div>

<div class="contenedorregistro">
<div class="center-block">


  <div class="has-success">

<div class="contenedoredicion">
   <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>


        <div class="campoedicion">
          <%= f.label :foto %><br />
          <%= f.text_field :foto,class:'form-control'%>
        </div>


        <div class= "campoedicion">
          <%= f.label :Nombre %>
          <%= f.text_field :nombre,required:true,title:"Campo no valido",pattern:"[A-Za-z]{0,20}",title:"El nombre no puede ser nulo, solo puede contener letras y como maximo 20 caracteres",class:'form-control' %>
        </div>

     
        <div class= "campoedicion">
          <%= f.label :Apellido %>
          <%= f.text_field :apellido,required:true,title:"El apellido no puede ser nulo, solo puede contener letras y como maximo 20 caracteres",pattern:"[A-Za-z]{0,20}",class:'form-control'%>
        </div>

        <div class="campoedicion">
          <%= f.label :email %><br />
          <%= f.email_field :email,required:true,title:"El email no puede ser nulo",class:'form-control'%>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class= "campoedicion">
          <%= f.label :"Fecha de Nacimiento" %>
          <%= f.date_field :fechanac,title:"Por favor, complete correctamente su fecha de nacimiento",class:'form-control' %> 
        </div>

        <div class= "campoedicion">
           <%= f.label :DNI %>
           <%= f.number_field :dni,required:true,title:"Campo no valido",min:"0",class:'form-control' %>
         </div>
  
        <div class="camporegistro_telefono_izq">
          <%= f.label :"Caracteristica- " %>
           <%= f.number_field :tel_caract,title:"El campo no debe estar vacio y puede tener como maximo 8 digitos",max:"99999999",min:"0", class:'form-control' %>
        </div>

        <div class="camporegistro_telefono_der">
          <%= f.label :"Telefono" %>
          <%= f.number_field :tel_num,max:"999999999999999",min:"0",required:true,title:"Campo obligatorio", title:"El numero puede contener como maximo 15 digitos", class:'form-control' %>
        </div>

        <div class="campoedicion">
           <%= f.label :"Nueva Contraseña" %> <i>(Deja en blanco si no la quieres cambiar)</i><br />
           <%= f.password_field :password,class:'form-control' %>
        </div>

        <div class="campoedicion">
          <%= f.label :"Confirma la nueva contraseña" %><br />
          <%= f.password_field :password_confirmation,class:'form-control'%>
        </div>

        <div class="campoedicion">
          <%= f.label :"Contraseña Actual" %> <br />
          <%= f.password_field :current_password,required:true,title:"Campo obligatorio",class:'form-control' %>
        </div>

        <div class= "campoedicion">
          <center><%= f.label :Sexo %>
          <%= f.radio_button :sexo, true, checked: true  %> <%= f.label :sexo, "Masculino" %>
          <%= f.radio_button :sexo, false %> <%= f.label :sexo, "Femenino" %></center>
        </div>


        <div class= "campoedicion">
          <center><%= f.label :Nacionalidad %>
          <%= country_select("usuario", "nacionalidad") %></center> 
        </div>


        <% resource.errors.each do |atributo, mensaje| %>
         <%if mensaje=="is invalid" then%>
          <div class="alert alert-danger">
            Contraseña invalida
          </div>
        <%end%>
        <% end %>



        <CENTER>
           <%= f.submit "Actualizar datos",class: "btn btn-success btn-lg"  %>
        </CENTER>
        <br/>
  

  <% end %>



  <CENTER>
    <%= link_to "Cancelar cuenta", registration_path(resource_name), data: { confirm: "Está seguro?" }, method: :delete,class: "btn btn-success btn-lg"  %>
    <%= link_to "Volver", :back, class: 'btn btn-warning btn-lg' %>
    </CENTER>

</div>
</div>
</div>
</div>

