<div class="contenedorlogin">
<div class="center-block">


  <div class="form-group has-success has-feedback">

<center><h2>Cambiar contraseña</h2></center>


<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :Contraseña %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres como minimo)</em><br />
    <% end %>
    <%= f.password_field :password,required:true,title:"Campo obligatorio", class:'form-control' %>
  </div>

   <div class="campologin">
    <%= f.label :"Confirmacion de contraseña" %><br />
    <%= f.password_field :password_confirmation,required:true,title:"Campo obligatorio", class:'form-control' %>
  </div>


  <div class= "campologin">
    <center><%= f.submit "Cambiar contraseña", class: "btn btn-success btn-lg" %>
    <%= link_to "Volver", hospedajes_path, class: 'btn btn-warning btn-lg' %></center>
  </div>


 <% resource.errors.each do |atributo, mensaje| %>
      <%if(mensaje=="can't be blank") ||  (mensaje=="is invalid") then %>
          <div class="alert alert-danger">
            La contraseña difiere de su confirmacion
          </div>
      <%else%>
          <div class="alert alert-danger">
            <%=mensaje%>
          </div> 
      <% end %>

 <% end %>
<%end%>
</div>
</div>
</div>

