<center><h2>Nueva foto</h2></center>


<%if notice=="Hospedaje creado con exito. Inserte una foto" then%>
  <div class="contenedorfoto">
     <div class="alert alert-success">
        <%= notice %>
      </div>
   </div>
<%end%>

<div class="contenedorfoto">
  <div class="has-success">
      <%= form_for @foto do |f| %>
  	    <div class="campofoto">
          <%= f.label :link %><br />
          <%= f.text_field :link,required:true,title:"Campo obligatorio",value: @foto.link,class:'form-control'%>
          <%= f.hidden_field :hospedaje_id, value: @id%>
        </div>
        <%if notice != "Hospedaje creado con exito. Inserte una foto" then %>
           <center><%= f.submit "Crear",class: "btn btn-success btn-lg"  %>
           <%= link_to "Volver", :back, class: 'btn btn-warning btn-lg' %></center>
        <%else%>
           <center><%= f.submit "Crear",class: "btn btn-success btn-lg" %></center>
        <%end%>
      <%end%>



</div>

</div>